<form method="post" action="{{ path('realisation_delete', {'id': realisation.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir effacer cet item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ realisation.id) }}">
    <button class="btn btn-warning mt-2">Supprimer</button>
</form>