<form method="post" action="{{ path('catalogue_delete', {'id': catalogue.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir effacer cet item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ catalogue.id) }}">
    <button class="btn btn-warning mt-2">Supprimer</button>
</form>